h1, h2, h3, h4 {
	font-weight: 500;
	margin: 1em 0;
}

h1 {
	font-size: var(--font-h1-size);
	font-weight: 300;
}

h2 {
	font-size: var(--font-h2-size);
	font-weight: 300;
}

h3 {
	font-size: var(--font-h3-size);
}

h4 {
	font-size: var(--font-h4-size);
}

p {
	margin: 1em 0;
}

strong, b {
	font-weight: 500;
}

pre, code {
	font-family: "Fira Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace !important;
	font-size: 90%;
}

a {
	color: var(--red);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {
	list-style: square;
	padding-left: 1.5em;
}

li {
	margin: 8px;
}
