body {
	--red: #c42c2d;

	background-color: #151515;
	color: #ffffff;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
	min-width: 100vw;
	height: 100vh;
}
