@font-face {
	font-family: 'Fira Code';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url(Fira_Code-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(Roboto-italic-300.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 500;
	font-display: auto;
	src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(Roboto-italic-500.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: local('Roboto Light'), local('Roboto-Light'), url(Roboto-normal-300.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: local('Roboto Medium'), local('Roboto-Medium'), url(Roboto-normal-500.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

